body {
  font-family: "Courier New", Courier, monospace;
}
#navWrapper {
  position: fixed;
  top: 3px;
  display: grid;
  place-items: center;
  width: 100%;
  padding-bottom: 20px;
  z-index: 2;
}

#nav {
  border-radius: 10px;
  background-color: #aeebf0;
  width: 90%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav h1 {
  margin-left: 10px;
  font-size: 2rem;
  font-weight: 600;
}
#containerWrapper {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
#container {
  width: 90%;
}

.cardWrapper {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: rgba(233, 245, 239, 0.74);
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: auto;
    background-color: rgba(233, 245, 239, 0.74);
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
  }
  @media screen and (min-width: 1025px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    background-color: rgba(233, 245, 239, 0.74);
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
  }
}
.cardWrapper:hover {
  @media screen and (max-width: 767px) {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    transform: scale(1.09);
    transition: 0.5s ease-in-out;
  }
  @media screen and (min-width: 1025px) {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
}

#image {
  @media screen and (max-width: 767px) {
    margin-top: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid rgb(117, 84, 84);
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 10px;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 2px solid rgb(117, 84, 84);
  }
  @media screen and (min-width: 1025px) {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid rgb(117, 84, 84);
  }
}
main {
  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    place-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  @media screen and (min-width: 1025px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}

p {
  font-size: 1.2rem;
  line-height: 0.1;
}

#footer {
  display: flex;
  position: fixed;
  bottom: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 99%;
}
.button {
  background-color: rgba(141, 236, 236, 0.384);
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}

.button:hover {
  background-color: rgb(87, 165, 126);
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
  color: white;
}
.loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader::before {
  content: "";
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animación de giro */
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
